<div class="container-fluid bg-light">
    <h5>Education</h5>
    <ul class="education-list">
      <li *ngFor="let education of educationList">
        <h5>{{education.institution}}</h5>
        <p>{{education.certificate}}</p>
        <p><time>{{education.start}}</time> - <time>{{education.end}}</time></p>
      </li>
    </ul>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-dark">Edit <i class="bi bi-plus-circle"></i></button>
      <button type="button" class="btn btn-dark">Delete <i class="bi bi-x-circle"></i></button>
    </div>
</div>