<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#home">Pandious</a>
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#aboutme">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#education">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
        </li>
      </ul>
      <button type="button" class="btn btn-dark">Login <i class="bi bi-person-circle"></i></button>
    </div>
</nav>